/*Common styles*/
@import "fonts.css";
@import "vendor/normalize.css";
@import "vendor/variables.css";
@import "components/header.css";
@import "components/footer.css";

/*UI styles*/
@import "UI/button.css";
@import "UI/input.css";
@import "UI/modal.css";
@import "UI/radio.css";

/*Main page styles*/
@import "pages/main/hero.css";
@import "pages/main/rating.css";
@import "pages/main/data.css";
@import "pages/main/materials.css";


* {
    font-family: "TT Firs Neue Trial Var Roman", "Arial", sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
}

body {
    background-color: #ebf1f8;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
}

section {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

img {
    pointer-events: none;
}

.absolute-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.visually-hidden {
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.no-scroll {
    overflow: hidden;
}

.container {
    padding: 0 65px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.world-map-bg::before,
.world-map-bg.double::after {
    content: '';
    display: block;
    position: absolute;
    width: 1926px;
    height: 914px;
    background: url('/images/world-map-bg.png') no-repeat center;
    z-index: -1;
}

.section-title {
    font-family: 'HeliosExt';
    font-size: 88px;
    font-weight: 700;
    line-height: 106px;
    text-align: center;
    color: var(--mainColor);
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 1558px;
    width: 100%;
}

.section-title.white {
    color: #FFFFFF;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi) {
    .world-map-bg::before,
    .world-map-bg.double::after {
        background: url('/images/world-map-bg@2x.png') no-repeat center;
        background-size: cover;
    }
}

@media (max-width: 1920px) {
    .section-title {
        font-size: 70px;
        line-height: 88px;
        max-width: 1260px;
    }
    .world-map-bg::before,
    .world-map-bg.double::after {
        width: 100%;
        background-size: cover;
        height: 731px;
    }
}

@media (max-width: 1440px) {
    .container {
        padding: 0 40px;
    }

    .section-title {
        font-size: 53px;
        line-height: 71px;
        max-width: 950px;
    }

    .world-map-bg::before,
    .world-map-bg.double::after {
        height: 584px;
    }
}

@media (min-width: 1024px) {
    a:not(.button):hover {
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
    .section-title {
        font-size: 41px;
        line-height: 59px;
        max-width: 729px;
    }

    .world-map-bg::before,
    .world-map-bg.double::after {
        height: 467px;
    }
}

@media (max-width: 767px) {
    .section-title {
        font-size: 19px;
        line-height: 37px;
        max-width: 340px;
    }

    .world-map-bg::before,
    .world-map-bg.double::after {
        height: 373px;
    }
}

@media (max-width: 767px) {
    .section-title {
        font-size: 15px;
        line-height: 33px;
    }
}