.button {
    font-family: "TT Firs Neue Trial Var Roman";
    background: var(--buttonBackground);
    border-radius: 72px;
    color: #FFFFFF;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

a.button {
    display: block;
}

@media (max-width: 1920px) {
    .button {
        border-radius: 58px;
    }
}

@media (max-width: 1440px) {
    .button {
        border-radius: 46px;
    }
}

@media (min-width: 1024px) {
    .button:hover {
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }
}

@media (max-width: 1024px) {
    .button {
        border-radius: 37px;
    }
}