.footer {
    background: #DEE8F4;
    border-radius:  69px 69px 0 0;
    max-width: 1920px;
    margin: 0 auto;
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 74px;
    max-width: 1628px;
}

.footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 390px;
    flex: 0 0 390px;
}

.footer__title {
    font-family: 'HeliosExt';
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    color: var(--mainColor);
    text-transform: uppercase;
}

.footer__subtitle {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: var(--mainColor);
    letter-spacing: 0.7px;
}

.footer__column-socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 17px;
}

.footer__column-socials-list-item {
    position: relative;
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.footer__column-socials-list-item:not(:last-child) {
    margin-right: 44px;
}

.footer__column-contacts-list {
    margin-top: 22px;
}

.footer__column-contacts-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__column-contacts-list-item:not(:last-child) {
    margin-bottom: 24px;
}

.footer__column-contacts-list-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #646464;
    margin-left: 17px;
}

.footer__copyright {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.8px;
    text-align: center;
    color: #6877A3;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 121px 0 75px;
}

@media (max-width: 1920px) {
    .footer {
        border-radius:  55px 55px 0 0;
    }

    .footer__content {
        padding-top: 59px;
        max-width: 1628px;
    }

    .footer__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 313px;
        flex: 0 0 313px;
    }

    .footer__title {
        font-size: 39px;
        line-height: 58px;
    }

    .footer__subtitle {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 0.56px;
    }

    .footer__column-socials-list {
        margin-top: 14px;
    }

    .footer__column-socials-list-item:not(:last-child) {
        margin-right: 35px;
    }

    .footer__column-socials-list-img {
        width: 32px;
    }

    .footer__column-contacts-list-img {
        width: 26px;
    }

    .footer__column-contacts-list-text {
        font-size: 16px;
        line-height: 22px;
        margin-left: 14px;
    }

    .footer__copyright {
        font-size: 16px;
        line-height: 21.8px;
        padding: 97px 0 60px;
    }
}


@media (max-width: 1440px) {
    .footer__column:nth-of-type(1) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }

    .footer__column {
        margin-bottom: 50px;
    }

    .footer__copyright {
        padding: 47px 0 48px;
    }
}

@media (min-width: 1024px) {
    .footer__column-socials-list-item:hover {
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }
}

@media (max-width: 1024px) {
    .footer__content {
        padding-top: 47px;
    }

    .footer__column {
        margin-bottom: 40px;
    }

    .footer__column-contacts-list,
    .footer__column-socials-list {
        margin-top: 18px;
    }

    .footer__column-contacts-list-item:not(:last-child) {
        margin-bottom: 19px;
    }
}

@media (max-width: 767px) {
    .footer__content {
        padding-top: 38px;
    }

    .footer__column {
        margin-bottom: 32px;
    }

    .footer__title {
        font-size: 31px;
        line-height: 50px;
    }

    .footer__subtitle {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.45px;
    }

    .footer__column-contacts-list,
    .footer__column-socials-list {
        margin-top: 14px;
    }

    .footer__column-contacts-list-text {
        font-size: 13px;
        line-height: 19px;
        margin-left: 11px;
    }

    .footer__column-contacts-list-item:not(:last-child) {
        margin-bottom: 15px;
    }

    .footer__copyright {
        font-size: 13px;
        line-height: 18.8px;
        padding: 38px 0;
    }
}