.data {
    background: url('/images/data-bg.png') no-repeat center;
    border-radius: 111px;
    overflow: hidden;
}

.data__content {
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    border-radius: 69px;
    -webkit-box-shadow: 0px 4px 28.7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 28.7px 0px rgba(0, 0, 0, 0.25);
    margin: 62px 0 61px;
    max-width: 1764px;
    padding: 50px 0 45px;
}

.data__button {
    margin: 46px auto 70px;
    padding: 21px 34px;
    font-size: 32px;
    font-weight: 400;
    line-height: 41.28px;
}

.data__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1662px;
    margin: 0 auto;
}

.data__form-column {
    border-radius: 48px;
    background: #F1F9FF;
    padding: 46px 44px;
    -webkit-box-shadow: 0px 4px 11px 0px #00000040;
    box-shadow: 0px 4px 11px 0px #00000040;
    min-height: 648px;
}

.data__form-column:nth-child(odd) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1094px;
    flex: 0 0 1094px;
    margin-right: 50px;
    padding: 43px 51px 68px 62px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.data__form-column:nth-child(even) {
    background: -o-linear-gradient(335.05deg, rgba(255, 255, 255, 0.93) -12.7%, #A7B8F3 105.52%);
    background: linear-gradient(114.95deg, rgba(255, 255, 255, 0.93) -12.7%, #A7B8F3 105.52%);
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.data__form-column-input-wrapper {
    max-width: 558px;
    width: 100%;
}

.data__form-column-input-wrapper:not(:nth-child(7n)) {
    margin-bottom: 31px;
}

.data__form-column:nth-child(odd) .data__form-column-input-wrapper:nth-child(-n+7) {
    margin-right: 45px;
    max-width: 382px;
}

.data__form-column-title {
    font-size: 38px;
    font-weight: 500;
    line-height: 49.02px;
    color: #7D7D7D;
    margin-bottom: 24px;
    text-align: center;
}

.data__form-column-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 690px;
}

.data__form-button {
    font-size: 32px;
    font-weight: 500;
    line-height: 41.28px;
    margin: auto auto 0;
    padding: 23px 44px;
}

.mark-modal__list-item {
    border-bottom: 1px solid var(--mainColor);
    padding-bottom: 10px;
}

.mark-modal__list-item:not(:last-of-type) {
    margin-bottom: 10px;
}

.mark-modal__list-radio-label {
    padding-left: 40px;
}

.mark-modal__button {
    font-size: 32px;
    font-weight: 500;
    line-height: 41.28px;
    padding: 10px 15px;
    margin: 20px auto 0;
    display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi) {
    .data {
        background: url('/images/data-bg@2x.png') no-repeat 0 0;
        background-size: 100%;
    }
}

@media (max-width: 1920px) {
    .data {
        border-radius: 88px;
    }

    .data__content {
        margin: 49px 0 48px;
        padding: 40px 0 87px;
        border-radius: 55px;
    }

    .data__form {
        max-width: 84.2971%;
    }

    .data__form-column {
        min-height: 518px;
        border-radius: 39px;
    }

    .data__form-column,
    .data__form-column:nth-child(odd) {
        padding: 34px 30px;
    }

    .data__form-column:nth-child(odd) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 61.332%;
        flex: 0 0 61.332%;
        margin-right: 32px;
    }

    .data__form-column:nth-child(odd) .data__form-column-input-wrapper:nth-of-type(odd) {
        margin-right: 36px;
    }

    .data__form-column-title {
        font-size: 30px;
        line-height: 41.02px;
        margin-bottom: 34px;
    }

    .data__form-button,
    .mark-modal__button {
        font-size: 26px;
        line-height: 35.28px;
        padding: 18px 35px;
    }
}

@media (max-width: 1440px) {
    .data {
        border-radius: 70px;
    }

    .data__content {
        margin: 39px 0 38px;
        padding: 32px 0 70px;
        border-radius: 44px;
    }

    .data__title.section-title.white {
        color: var(--mainColor);
    }

    .data__form {
        max-width: 90%;
    }

    .data__form-column {
        min-height: initial;
        border-radius: 31px;
    }

    .data__form-column,
    .data__form-column:nth-child(odd) {
        padding: 27px 24px;
    }

    .data__form-column:nth-child(odd) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        margin-right: 26px;
    }

    .data__form-column:nth-child(odd) .data__form-column-input-wrapper:nth-of-type(odd) {
        margin-right: initial;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }

    .data__form-column-title {
        font-size: 24px;
        line-height: 35.02px;
        margin-bottom: 27px;
    }

    .data__form-button,
    .mark-modal__button {
        font-size: 21px;
        line-height: 30.28px;
    }
}

@media (max-width: 1024px) {
    .data {
        border-radius: 56px;
    }

    .data__content {
        margin: 31px 0 30px;
        padding: 26px 0 56px;
        border-radius: 35px;
    }

    .data__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .data__form-column:nth-child(odd) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin-right: initial;
        margin-bottom: 26px;
    }

    .data__form-button {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .data {
        border-radius: 45px;
    }

    .data__content {
        margin: 25px 0 24px;
        padding: 21px 0 45px;
        border-radius: 28px;
    }

    .data__form-column:nth-child(odd) {
        margin-bottom: 21px;
    }

    .data__form-column, .data__form-column:nth-child(odd) {
        padding: 22px 20px;
    }

    .data__form-column-title {
        font-size: 19px;
        line-height: 30.02px;
        margin-bottom: 22px;
    }

    .data__form-button,
    .mark-modal__button {
        font-size: 17px;
        line-height: 26.28px;
        padding: 14px 28px;
    }
}