.hero {
    background: url('/images/hero-bg.png') no-repeat center;
}

.hero__content {
    padding: 314px 0 265px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title,
.hero__subtitle {
    color: #FFFFFF;
    font-family: 'HeliosExt';
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.hero__title {
    font-size: 100px;
    line-height: 133px;
    max-width: 83%;
}

.hero__subtitle {
    font-size: 64px;
    line-height: 107px;
    margin-bottom: 49px;
}

.hero__button {
    font-size: 24px;
    font-weight: 600;
    line-height: 30.96px;
    margin: 0 auto;
    padding: 22px 52px 26px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .hero {
        background: url('/images/hero-bg@2x.png') no-repeat center;
        background-size: cover;
    }
}

@media (max-width: 1920px) {
    .hero__content {
        padding: 251px 0 212px;
    }

    .hero__title {
        font-size: 80px;
        line-height: 113px;
    }

    .hero__subtitle {
        font-size: 51px;
        line-height: 94px;
        margin-bottom: 39px;
    }

    .hero__button {
        font-size: 19px;
        line-height: 25.96px;
        padding: 18px 42px 21px;
    }
}

@media (max-width: 1440px) {
    .hero__content {
        max-width: initial;
        padding: 201px 0 170px;
    }

    .hero__title {
        max-width: 79%;
        font-size: 64px;
        line-height: 97px;
    }

    .hero__subtitle {
        font-size: 41px;
        line-height: 84px;
        margin-bottom: 31px;
    }
}

@media (max-width: 1024px) {
    .hero__content {
        padding: 161px 0 136px;
    }

    .hero__title {
        font-size: 51px;
        line-height: 84px;
    }

    .hero__subtitle {
        font-size: 33px;
        line-height: 76px;
        margin-bottom: 25px;
    }
}